@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,700italic,400italic);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body,
button,
div,
html,
input,
p,
select,
span,
textarea {
  font-family: "Open Sans", serif !important;
}

button.md-button {
  font-weight: 700;
}

.bi-page {
  padding: 1rem 0 1rem 0;
  /*   > .md-card {
    max-width: 1440px;
    flex: 1;
  } */
}

@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", ( primary: #d70f14, accent: #0a7db4));
@import "~vue-material/dist/theme/all"; // Apply the theme
